/* Custom error class same as bootstrap's alert alert-error */
label.error{
	background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    color: #C09853;
    margin-bottom: 18px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
/* Lead details styling */
.lead_detail {
    border: 1px solid #ccc;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    box-shadow: 0 0 10px #eee;
    float: left;
    padding: 0.8em;
    position: relative;
    width: auto;
    margin-bottom: 100px
}
.lead_detail hgroup {
    border-bottom: 2px dotted #ccc;
    margin-bottom: 1em;
    position: relative;
    width: 100%;
}
.lead_detail h2 {
    color: #414141;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-top: 0.4em;
}
.lead_detail .indicator_left {
	display: block;
	height: 20px;
	left: -20px;
	position: absolute;
	top: 25px;
}
.lead_detail th {
	text-align: right;
    width: 72px;
}
body, html {
    overflow-y: scroll;
}